@font-face {
  font-family: "QanelasBold";
  src: url("assets/fonts/Qanelas-Bold.otf") format("truetype");
}

@font-face {
  font-family: "QanelasLight";
  src: url("assets/fonts/Qanelas-Light.otf") format("truetype");
}

@font-face {
  font-family: "QanelasMedium";
  src: url("assets/fonts/Qanelas-Medium.otf") format("truetype");
}
@font-face {
  font-family: "Qanelas-UltraLight";
  src: url("assets/fonts/Qanelas-UltraLight.otf") format("truetype");
}
@font-face {
  font-family: "Qanelas-LightItalic";
  src: url("assets/fonts/Qanelas-LightItalic.otf") format("truetype");
}
@font-face {
  font-family: "Qanelas-Thin";
  src: url("assets/fonts/Qanelas-Thin.otf") format("truetype");
}