<div class="post-item" data-id="{{post.postId}}">
    <div class="post-header row justify-content-between">
        <div class="left-block row">
            <div class="person-img">
                <img [src]="post.userImage" alt="user1">
            </div>
            <div class="user-info">
                <p class="user-name">{{post.userName}}</p>
                <p class="user-location">{{post.userLocation}}</p>
            </div>
        </div>
        <div class="right-block d-flex">
            <a href="#" class="btns edit-btn" (click)="opendrop()">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="modal-block" id="dropdown-content" (click)="closedrop()">
                <ul class='modal-list'>
                    <li><a href="#">Видалити пост</a></li>
                    <li><a href="#">Поширити в Messenger</a></li>
                    <li><a href="#">Не стежити</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post-photo">
        <img [src]="post.postImage" class="w-100" alt="post1">
    </div>
    <div class="post-actions row justify-content-between">
        <div>
            <button class="btns right-btns" (click)="setLike()"><i class="material-icons">favorite_border</i></button>
            <button class="btns right-btns"><i class="material-icons">chat_bubble_outline</i></button>
            <button class="btns right-btns"><i class="material-icons">near_me</i></button>
        </div>
        <button class="btns"><i class="material-icons">turned_in_not</i>
        </button>
    </div>
    <p class="num-of-looks">{{post.numOfLooks}} вподобань</p>
    <p class="user-post-tittle"><span class="user-name">{{post.userName}}</span>{{post.postTittle}}</p>
    <div class="tags row">
        <p>kc</p>
        <p>kuyjhc</p>
        <p>kgc</p>
        <p>kgfhc</p>
    </div>
    <div class="comments">
        <p class="single-comment"><span class="user-name">Murys Olya</span>hdzjxhfd kshfdmcxn</p>
        <p class="single-comment"><span class="user-name">Murys Olya</span>hdzjxhfd kshfdmcxn</p>
        <p class="single-comment"><span class="user-name">Murys Olya</span>hdzjxhfd kshfdmcxn</p>
        <button class="btns all-comments p-0" id="all-comments"
                (click)="showAllComments($event)">
            Переглянути всі коментарі(3)
        </button>
    </div>
</div>