section.main-phone-section {
    display: flex;
    min-height: calc(100vh - 64px);
    & .container{
      display: flex;
    }
    & .phone-block {
      align-self: center;
      margin: auto;
      overflow-y: scroll;
      background: url(/assets/images/iphone.png)no-repeat;
      width: 370px;
      height: 720px;
    }
    & .phone-content {
      width: 335px;
      background: white;
      position: relative;
      margin: 75px auto;
      z-index: -1;
    }
  }